.profilectn{
    display: flex;
    flex-direction: column;
    
   
}
.profileitem{
    width: 100%;
   
    text-align: left;

}
.item1{
    font-size: 45px;
    color: black;

}
.item2{
    display: flex;
    color: blue;
   
}
.connetion{
  
    margin-right: 60px;
    margin-left: 5px;

}
.item4 button{
    margin-top: 40px;
    margin-right: 40px;
    background-color: blue;
    color: aliceblue;
    font-size: 25px;
    padding: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.item3{
margin-top: 10px;
margin-left: 5px;
}
.bigproct{
    display: flex;
    margin: 20px;
    margin-left: 350px;
}
@media screen and (max-width:900px){
    display:flex;
    flex-direction:column;
}
